body {
  font-family: Verdana;
  color: #828282;
  font-size: 13px;
}


#container {
  width: 85%;
  background-color: rgb(246, 246, 239);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;

}

li {
  margin-bottom: 5px;
}

#header {
  background-color: #fe6600;
  height: 23px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.header-list {
  font-size: 13px;
  padding-bottom: 3px;
  margin-right: 5px;
}


a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

a:hover {
  cursor: pointer;
}

.info-bar {
  font-size: 9px;
  padding-left: 10px;
}

.url {
  font-size: 10px;
}

ol {
  margin-left: 0;
  text-align: left;
  padding-left: 25px;
}
